<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastr_unit.css">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="../css/menu.css">
    <title>Condominium Unit Registration</title>
</head>
<body>
    <header>
        <h1>Smart Condominium</h1>
        <span id="menu-toggle" class="menu-toggle">
            
        </span>
    </header>

    <input type ="checkbox" id="chec">
        <label class="menu" for="chec">
            <img src ="../img/menu.png"/>
        </label>

        <nav>
            <ul>
                <li><a class="amenu" href="Condominio.html">Condominio</a></li>
                <li><a  class="amenu" href="inicio.html">Painel</a></li>
                <li><a class="amenu" href="units.html">Unidades</a></li>
                <li><a class="amenu" href="residents.html">Moradores</a></li>
                <li><a class="amenu" href="funcionarios.html">Funcionarios</a></li>
                <li><a class="amenu" href="cobranca.html">Cobranças</a></li>
                <li><a class="amenu" href="veiculo.html">Veiculo</a></li>
                <li><a class="amenu" href="reservas.html">Reservas</a></li>
                <li><a class="amenu"  href="administration.html">Administração</a></li>
            </ul>
        </nav>
    
    <h2>Registro de unidades</h2>
    <main class="registro_unidades">
        <form id="unit-registration-form">
            <section>
                <div class="unidade">
                    <label for="unit-number">Unidade:</label>
                    <input type="text" id="unit-number" name="unit-number" required>
                </div>
                <div class="form-group2">
                    <label for="owner-resident">Proprietario:</label>
                    <input type="text" id="owner-resident" name="owner-resident" required>
                </div>
                <div class="form-group2">
                    <label for="owner-phone">Telefone Proprietario:</label>
                    <input type="tel" id="owner-phone" name="owner-phone" required>
                </div>
                <div class="form-group2">
                    <label for="owner-email">Email Proprietario:</label>
                    <input type="email" id="owner-email" name="owner-email" required>
                </div>
            </section>
           
            <section>
                <div class="form-group">
                    <label for="unit-type">Tipo de unidade:</label>
                    <input type="text" id="unit-type" name="unit-type" required>
                </div>
                <div class="form-group">
                    <label for="unit-status">Status da unidade:</label>
                    <select id="unit-status" name="unit-status" required>
                        <option value=""></option>
                        <option value="morando">Morando</option>
                        <option value="alugado">Alugado</option>
                        <option value="vazio">Vazio</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="area">Area Privativa:</label>
                    <select id="unit-status" name="unit-status" required>
                        <option value=""></option>
                        <option value="sim">Sim</option>
                        <option value="inactive">não</option>
                    </select>
                </div>
            </section>
            <button type="submit">Cadastrar unidade</button>
        </form>
    </main>
    <footer>
        <p>&copy; 2023 Smart Condominium. All rights reserved.</p>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>