{% extends "template.html" %}

{% block conteudo_body %}
    
    <h2>Registro de unidades</h2>
    <main class="registro_unidades">
        <form id="unit-registration-form">
            <section>
                <div class="unidade">
                    <label for="unit-number">Unidade:</label>
                    <input type="text" id="unit-number" name="unit-number" required>
                </div>
                <div class="form-group2">
                    <label for="owner-resident" class="last_label">Proprietario:</label>
                    <input type="text" id="owner-resident" name="owner-resident" class="last_label" required>
                </div>
                <div class="form-group2">
                    <label for="owner-phone" class="last_label" >Telefone Proprietario:</label>
                    <input type="tel" id="owner-phone" name="owner-phone" class="last_label" required>
                </div>
                <div class="form-group2">
                    <label for="owner-email" class="last_label" >Email Proprietario:</label>
                    <input type="email" id="owner-email" name="owner-email" class="last_label" required>
                </div>
            </section>
           
            <section>
                <div class="form-group">
                    <label for="unit-type">Tipo de unidade:</label>
                    <input type="text" id="unit-type" name="unit-type" required>
                </div>
                <div class="form-group">
                    <label for="unit-status">Status da unidade:</label>
                    <select id="unit-status" name="unit-status" class="select_veiculo"  required>
                        <option value=""></option>
                        <option value="morando">Morando</option>
                        <option value="alugado">Alugado</option>
                        <option value="vazio">Vazio</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="area">Area Privativa:</label>
                    <select id="unit-status" name="unit-status" class="select_veiculo"  required>
                        <option value=""></option>
                        <option value="sim">Sim</option>
                        <option value="inactive">não</option>
                    </select>
                </div>
            </section>
            <button type="submit">Cadastrar unidade</button>
        </form>
    </main>
    {% endblock %}