{% extends "template.html" %}

{% block conteudo_body %}

<main class="main_cadastros">
    <h2>Cadastro de Condomínio</h2>
    <form id="cadastro-condominio-form" class="form-group" action="{{ url_for('cadastrar') }}" method="post">
        <section>
            <div class="form-group">
                <label for="nome-condominio">Nome do Condomínio:</label>
                <input type="text" id="nome-condominio" name="nome-condominio" required>
            </div>
            <div class="form-group">
                <label for="cep-condominio">CEP:</label>
                <input type="text" id="cep-condominio" name="cep-condominio" required>
            </div>
            <div class="form-group">
                <label for="estado-condominio">Estado:</label>
                <input type="text" id="estado-condominio" name="estado-condominio" required>
            </div>
        </section>
        <section>
            <div class="form-group">
                <label for="cidade-condominio">Cidade:</label>
                <input type="text" id="cidade-condominio" name="cidade-condominio" required>
            </div>
            <div class="form-group">
                <label for="endereco-condominio">Endereço:</label>
                <input type="text" id="endereco-condominio" name="endereco-condominio" required>
            </div>
            <div class="form-group">
                <label for="endereco-condominio">Número:</label>
                <input type="text" id="numero-condominio" name="numero-condominio" required>
            </div>
        </section>
        <section>
            <div class="form-group">
                <label for="telefone-condominio">Telefone:</label>
                <input type="tel" id="telefone-condominio" name="telefone-condominio" required>
            </div>
            <div class="form-group">
                <label for="telefone-condominio">Celular:</label>
                <input type="tel" id="celular-condominio" name="celular-condominio" required>
            </div>
            <div class="form-group">
                <label for="email-condominio">Email:</label>
                <input type="email" id="email-condominio" name="email-condominio" required>
            </div>
        </section>
        <section>
            <div class="form-group">
                <label for="nome-sindico">Nome do Síndico:</label>
                <input type="text" id="nome-sindico" name="nome-sindico" required>
            </div>
            <div class="form-group">
                <label for="telefone-sindico">Telefone do Síndico:</label>
                <input type="tel" id="telefone-sindico" name="telefone-sindico" required>
            </div>
            <div class="form-group">
                <label for="email-sindico">Email do Síndico:</label>
                <input type="email" id="email-sindico" name="email-sindico" required>
            </div>
        </section>
        <div class="form-group-full">
            <label for="observacoes">Observações:</label>
            <textarea id="observacoes" name="observacoes" rows="5" required></textarea>
        </div>
        <input class="btn_cadastrar" type="submit" value="Cadastrar Condomínio"><br><br>
    </form>
</main>

{% endblock %}
