{% extends "template.html" %}

{% block conteudo_body %}
    
    <h2>Registro de Moradores</h2>
    <main class="registro_unidades">
        <form id="unit-registration-form">
            <section>
                <div class="unidade">
                    <label for="unidade_veiculo">Unidade:</label>
                    <input type="text" id="unidade_veiculo" name="unidade_veiculo" required>
                </div>
                <div class="form-group2">
                    <label for="dono_veiculo">Dono do veiculo:</label>
                    <input type="text" id="dono_veiculo" name="dono_veiculo" required>
                </div>
                <div class="form-group2">
                    <label for="telefone_dono">Telefone:</label>
                    <input type="tel" id="telefone_dono" name="telefone_dono" required>
                </div>
                <div class="form-group2">
                    <label for="tipo_veiculo">Tipo de veiculo:</label>
                    <select id="tipo_veiculo" name="tipo_veiculo" class="select_veiculo" required>
                        <option value=""></option>
                            <option value="moto">Moto</option>
                            <option value="carro">Carro</option>
                            <option value="triciculo">Triciculo</option>
                            <option value="caminhao">Caminhão</option>
                    </select>
                </div>
            </section>
           
            <section>
                <div class="form-group">
                    <label for="marca_veiculo">Marca:</label>
                    <input type="text" id="marca_veiculo" name="marca_veiculo" required>
                </div>
                <div class="form-group">
                    <label for="modelo_veiculo">Modelo:</label>
                    <input type="text" id="modelo_veiculo" name="modelo_veiculo" required>
                </div>
                <div class="unidade">
                    <label for="cor_veiculo">Cor:</label>
                    <input type="text" id="cor_veiculo" name="cor_veiculo" required>
                </div>
                <div class="unidade">
                    <label for="placa_veiculo"  class="last_label">Placa:</label>
                    <input type="text" id="placa_veiculo" name="placa_veiculo" class="last_label" required>
                </div>
                        
                    
                    
                </div>
            </section>
            <button type="submit">Cadastrar Veiculo</button>
        </form>
    </main>
    {% endblock %}