{% endblock %}
    <form>
        <h2  class="cadastrar_condominio"><a href="{{ url_for('todas_cobrancas') }}"><img src="{{ url_for('static', filename='img/mais.png' )}}"/> Ver todas as cobranças</a></h2>
        <fieldset>
		
            <legend>Informações principais</legend>
            <label>Data de emissão:</label>
            <input class="data" type="date" value="01/09/2018" required>
            <label>Número:</label>
            <input class="data" type="text" value="2018-9" required>
            <label>Moradia:</label>
            <input class="data"type="text" value="U - 202" required>
            <label>Descrição:</label>
            <textarea required>Mensalidade do condomínio</textarea>
            <label>Data de vencimento:</label>
            <input class="data" type="date" value="10/10/2018" required>
        </fieldset>

        <fieldset>
            <legend>Valores</legend>
            <table>
                <thead>
                    <tr>
                        <th>Valor</th>
                        <th>Motivo da emissão</th>
                        <th>Juros</th>
                        <th>Multa</th>
                        <th>Outros acréscimos</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="campos">
                        <td>
                            <input type="text" value="130.00" required>
                        </td>
                        <td>
                            <input type="text" value="Normal" required>
                        </td>
                        <td>
                            <input type="text" value="1.52" required>
                        </td>
                        <td>
                            <input type="text" value="2.60" required>
                        </td>
                        <td>
                            <input type="text" value="0.00" required>
                        </td>
                        <td>
                            <input type="text" value="134.12" required>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>

        <button type="submit">Gerar cobrança</button>
    </form>
    {% endblock %}