{% extends "template.html" %}

{% block conteudo_body %}

    <main>
        <h2>Selecione o condominio</h2>
        <h2  class="cadastrar_condominio"><a href="{{ url_for('cadastro_condominio') }}"><img src="{{ url_for('static', filename='img/mais.png' )}}"/> Cadastrar Condominio</a></h2>

        <div class="circle-container">
            <a href="../html/inicio.html" class= "a_condominios">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 1">
                        <h3>Título 1</h3>
                    </div>
                </div>
            </a>

            <a href="https://example.com/link2" class= "a_condominios">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 2">
                        <h3>Título 2</h3>
                    </div>
                </div>
            </a>
            <a href="https://example.com/link1" class= "a_condominios">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 1">
                        <h3>Título 1</h3>
                    </div>
                </div>
            </a>

            <a href="https://example.com/link2" class= "a_condominios">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 2">
                        <h3>Título 2</h3>
                    </div>
                </div>
            </a>
            <a href="https://example.com/link1" class= "a_condominios">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 1">
                        <h3>Título 1</h3>
                    </div>
                </div>
            </a>

            <a href="https://example.com/link2" class= "a_condominios">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 2">
                        <h3>Título 2</h3>
                    </div>
                </div>
            </a>
            <a href="https://example.com/link1" class= "a_condominios">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 1">
                        <h3>Título 1</h3>
                    </div>
                </div>
            </a>

            <a href="https://example.com/link2" class= "a_condominios">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 2">
                        <h3>Título 2</h3>
                    </div>
                </div>
            </a>
            <a href="https://example.com/link1" class= "a_condominios">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 1">
                        <h3>Título 1</h3>
                    </div>
                </div>
            </a>

            <a href="https://example.com/link2" class= "a_condominios">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 2">
                        <h3>Título 2</h3>
                    </div>
                </div>
            </a>

            <!-- Adicione as outras 18 imagens aqui -->
        </div>

    </main>

    {% endblock %}