<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inicio.css">
    <link rel="stylesheet" href="../css/condominio.css">
    <title>Condominium Management System - Cadastro de Condomínio</title>
</head>

<body>
    <header>
        <h1>Smart Condominium</h1>
    </header>
    

    <main>
        <h2>Selecione o condominio</h2>
        <h2  class="cadastrar_condominio"><a href="cadastro_condominio.html"><img src="../img/mais.png"/> Cadastrar Condominio</a></h2>

        <div class="circle-container">
            <a href="../html/inicio.html">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 1">
                        <h3>Título 1</h3>
                    </div>
                </div>
            </a>

            <a href="https://example.com/link2">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 2">
                        <h3>Título 2</h3>
                    </div>
                </div>
            </a>
            <a href="https://example.com/link1">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 1">
                        <h3>Título 1</h3>
                    </div>
                </div>
            </a>

            <a href="https://example.com/link2">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 2">
                        <h3>Título 2</h3>
                    </div>
                </div>
            </a>
            <a href="https://example.com/link1">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 1">
                        <h3>Título 1</h3>
                    </div>
                </div>
            </a>

            <a href="https://example.com/link2">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 2">
                        <h3>Título 2</h3>
                    </div>
                </div>
            </a>
            <a href="https://example.com/link1">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 1">
                        <h3>Título 1</h3>
                    </div>
                </div>
            </a>

            <a href="https://example.com/link2">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 2">
                        <h3>Título 2</h3>
                    </div>
                </div>
            </a>
            <a href="https://example.com/link1">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 1">
                        <h3>Título 1</h3>
                    </div>
                </div>
            </a>

            <a href="https://example.com/link2">
                <div class="circle">
                    <div class="circle-content">
                        <img src="https://via.placeholder.com/120" alt="Imagem 2">
                        <h3>Título 2</h3>
                    </div>
                </div>
            </a>

            <!-- Adicione as outras 18 imagens aqui -->
        </div>

    </main>


    <footer>
        <p> &copy; 2023 Smart Condominium. All rights reserved.</p>
    </footer>

</body>

</html>