{% extends "template.html" %}

{% block conteudo_body %}


    <h2>Fazer reservas</h2>
    <main class="registro_unidades">
        <form id="unit-registration-form">
            <section>
                <div class="unidade">
                    <label for="unidade_veiculo">Unidade:</label>
                    <input type="text" id="unidade_veiculo" name="unidade_veiculo" required>
                </div>
                <div class="form-group2">
                    <label for="morador_aluguel">Morador:</label>
                    <input type="text" id="morador_aluguel" name="morador_aluguel" required>
                </div>
                <div class="form-group2">
                    <label for="espaco_aluguel">Espaço:</label>
                    <select id="espaco_aluguel" name="espaco_aluguel" class="select_veiculo" required>
                        <option value=""></option>
                            <option value="area_gurmert">Area Gurmert</option>
                            <option value="salao_festa">Salão de Festa</option>
                            <option value="piscina">Piscina</option>
                    </select>
                </div>
                <div class="form-group2">
                    <label for="qtd_mesas">Mesas:</label>
                    <input type="number" id="qtd_mesas" name="qtd_mesas" class="select_veiculo" required>
                </div>
            </section>
           
            <section>
                <div class="unidade">
                    <label for="qtd_cadeiras">Cadeiras:</label>
                    <input type="number" id="qtd_cadeiras" name="qtd_cadeiras" class="select_veiculo" required>
                </div>
                <div class="form-group">
                    <label for="aluguel_escada">Escada:</label>
                    <select id="aluguel_escada" name="aluguel_escada" class="select_veiculo" required>
                        <option value=""></option>
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="outros_alugueis">Outros:</label>
                    <select id="outros_alugueis" name="outros_alugueis" class="select_veiculo" required>
                        <option value=""></option>
                            <option value="sim">Sim</option>
                            <option value="nao">Não</option>
                    </select>
                </div>
                <div class="unidade">
                    <label for="total_aluguel">Total:</label>
                    <input type="text" id="total_aluguel" name="total_aluguel" placeholder="Campo desabilitado" disabled="" required >
                </div>
                        
                    
                    
                </div>
            </section>
            <button type="submit">Reservar</button>
        </form>
    </main>
    
    {% endblock %}