{% extends "template.html" %}

{% block conteudo_body %}


    

    <input type="search" id="search" class="pesquisa" onkeyup="searchFunction()" placeholder="Procurar na lista..." title="Type in a name">

    <h2  class="cadastrar_condominio"><a href="{{ url_for('cadastro_funcionario') }}"><img src="{{ url_for('static', filename='img/mais.png' )}}"/> Cadastrar Funcionario</a></h2>


    <table id="myTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>cargo</th>
                <th>Telefone</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Horario de trabakho</th>
                <th>Salario</th>
            </tr>
        </thead>
        <tbody id="myTableBody">
            <tr>
                <td>U - 301</td>
                <td>111111111</td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>

            </tr>
            <tr>
                <td>U - 302</td>
                <td>111111111</td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>
            </tr>
            <tr>
                <td>U - 303</td>
                <td>111111111</td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>
            </tr>
            <tr>
                <td>U - 304</td>
                <td>111111111</td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>
            </tr>
            <tr>
                <td>U - 401</td>
                <td>111111111</td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>
            </tr>
            <tr>
                <td>U - 402</td>
                <td>111111111</td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>
            </tr>
            <tr>
                <td>U - 201</td>
                <td>111111111</td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>
            </tr>
            <tr>
                <td>U - 202</td>
                <td>111111111</td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>
            </tr>
             <tr>
                <td>U - 402</td>
                <td>111111111</td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>
            </tr>
            <tr>
                <td>U - 201</td>
                <td>111111111</td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>
            </tr>
            <tr>
                <td>U - 202</td>
                <td>111111111</td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>R$ 1500.00</td>
            </tr>
        
        </tbody>
    </table>
    <div class="pagination">
        <button id="prev" class="btn_setas"><img class="setas" src="{{ url_for('static', filename='img/seta-esquerda.png' )}}"/></button>
        <a class="n_page"><span id="page-info"></span></a>
        <button id="next" class="btn_setas" ><img class="setas" src="{{ url_for('static', filename='img/seta-direita.png' )}}"/></button>
      </div>

  
{% endblock %}