<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Smart Condominium</h1>
    </header>
    <main>
        <section>
            <h2>Login</h2>
            <form id="login-form" action="login.aspx" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Entrar</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Smart Condominium. All rights reserved.</p>
    </footer>
    <script src="scripts.js"></script>
</body>
</html>