<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        
        <link rel="stylesheet" href="../css/menu.css">
    </head>

    <body>
        <input type ="checkbox" id="chec">
        <label for="chec">
            <img src ="../img/menu.png"/>
        </label>
        
        <nav>
            <ul>
                <li><a href="Condominio.html">Condominio</a></li>
                <li><a href="inicio.html">Painel</a></li>
                <li><a href="units.html">Unidades</a></li>
                <li><a href="residents.html">Moradores</a></li>
                <li><a href="funcionarios.html">Funcionarios</a></li>
                <li><a href="cobranca.html">cobranças</a></li>
                <li><a href="staff.html">Staff</a></li>
                <li><a href="administration.html">Administração</a></li>
            </ul>
        </nav>
        
    </body>
</html>