{% extends "template.html" %}

{% block conteudo_body %}

    


 

    <input type="search" id="search" class="pesquisa" onkeyup="searchFunction()" placeholder="Procurar na lista..." title="Type in a name">

    <table id="myTable">
        <thead>
            <tr>
                <th>Número</th>
                <th>Moradia</th>
                <th>Valor original</th>
                <th>Valor atualizado</th>
                <th>Vencimento</th>
                <th>Situação</th>
                <th>Recebimento</th>
            </tr>
        </thead>
        <tbody id="myTableBody">
            <tr>
                <td>2017-9</td>
                <td>U - 301</td>
                <td>R$ 100.00</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>10/10/2017</td>
            </tr>
            <tr>
                <td>2017-9</td>
                <td>U - 302</td>
                <td>R$ 100.00</td>
                <td>R$ 115.33</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>Em aberto</td>
            </tr>
            <tr>
              <td>2017-9</td>
                <td>U - 303</td>
                <td>R$ 100.00</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>10/10/2017</td>
            </tr>
            <tr>
                <td>2017-9</td>
                <td>U - 304</td>
                <td>R$ 100.00</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>10/10/2017</td>
            </tr>
            <tr>
                <td>2017-9</td>
                <td>U - 401</td>
                <td>R$ 100.00</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>10/10/2017</td>
            </tr>
            <tr>
                <td>2017-9</td>
                <td>U - 402</td>
                <td>R$ 100.00</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>10/10/2017</td>
            </tr>
            <tr>
                <td>2018-1</td>
                <td>U - 201</td>
                <td>R$ 120.00</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>10/11/2017</td>
            </tr>
            <tr>
                <td>2018-1</td>
                <td>U - 202</td>
                <td>R$ 120.00</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Em aberto</td>
            </tr>
        </tbody>
    </table>
    <table id="myTable">
        <thead>
          <tr>
            <th>Unidade</th>
            <th>CPF</th>
            <th>Morador</th>
            <th>Telefone</th>
            <th>Celular</th>
            <th>Email</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="myTableBody">
          <!-- Linhas da tabela serão inseridas aqui pelo JavaScript -->
        </tbody>
      </table>
    <div class="pagination">
      <button id="prev" class="btn_setas">Anterior</button>
      <div id="page-numbers"></div>
      <button id="next" class="btn_setas">Próximo</button>
    </div>

{% endblock %}