{% extends "template.html" %}

{% block conteudo_body %}

    

    

  
<input type="search" id="search" class="pesquisa" onkeyup="searchFunction()" placeholder="Procurar na lista..." title="Type in a name">


<h2  class="cadastrar_condominio"><a href="{{ url_for('cadastro_unit') }}"><img src="{{ url_for('static', filename='img/mais.png' )}}"/> Cadastrar Unidade</a></h2>


<table id="myTable">
    <thead>
      <tr>
        <th>Unidade</th>
        <th>CPF</th>
        <th>Morador</th>
        <th>Telefone</th>
        <th>Celular</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="myTableBody">
      <!-- Linhas da tabela serão inseridas aqui pelo JavaScript -->
    </tbody>
  </table>
<div class="pagination">
  <button id="prev" class="btn_setas">Anterior</button>
  <div id="page-numbers"></div>
  <button id="next" class="btn_setas">Próximo</button>
</div>

 


    
{% endblock %}