{% extends "template.html" %}

{% block conteudo_body %}

    

    

    <input type="search" id="search" onkeyup="searchFunction()" placeholder="Procurar na lista..." title="Type in a name">

    <h2  class="cadastrar_condominio"><a href="cadastro_veiculo.html"><img src="../img/mais.png"/> Cadastrar Veiculo</a></h2>


    <table id="myTable">
        <thead>
            <tr>
                <th>Unidade</th>
                <th>Morador</th>
                <th>Telefone</th>
                <th>Tipo do veiculo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Cor</th>
                <th>Placa</th>
            </tr>
        </thead>
        <tbody id="myTableBody">
            <tr>
                <td>U - 301</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>Normal</td>

            </tr>
            <tr>
                <td>U - 302</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 303</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 304</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 401</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 402</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 201</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 202</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
             <tr>
                <td>U - 402</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2017-9</td>
                <td>R$ 100.00</td>
                <td>10/10/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 201</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 202</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 201</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 202</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 201</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 202</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 201</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
            <tr>
                <td>U - 202</td>
                <td>111111111</td>
                <td><a href="https://w.app/UpgradeTechnology">R$ 100.00</a></td>
                <td>2018-1</td>
                <td>R$ 120.00</td>
                <td>10/11/2017</td>
                <td>Normal</td>
                <td>Normal</td>
            </tr>
        
        </tbody>
    </table>

    <div class="pagination">
        <button id="prev" class="btn_setas"><img class="setas" src="{{ url_for('static', filename='img/seta-esquerda.png' )}}"/></button>
        <a class="n_page"><span id="page-info"></span></a>
        <button id="next" class="btn_setas" ><img class="setas" src="{{ url_for('static', filename='img/seta-direita.png' )}}"/></button>
      </div>

    <script>
        const input = document.getElementById("search");
const filter = document.getElementById("myTable");
const currentPage = document.getElementById("page-info");
const prevButton = document.getElementById("prev");
const nextButton = document.getElementById("next");
let currentRow = 0;
let rowsPerPage = 11;

input.addEventListener("keyup", function (event) {
  let filterValue = event.target.value.toUpperCase();
  let trs = filter.getElementsByTagName("tr");
  for (let i = 1; i < trs.length; i++) {
    let tds = trs[i].getElementsByTagName("td");
    let isVisible = false;
    for (let j = 0; j < tds.length; j++) {
      if (tds[j].textContent.toUpperCase().indexOf(filterValue) > -1) {
        isVisible = true;
        break;
      }
    }
    if (isVisible) {
      trs[i].style.display = "";
    } else {
      trs[i].style.display = "none";
    }
  }
});

function updatePageInfo() {
  currentPage.textContent = `. ${Math.ceil(currentRow / rowsPerPage) + 1} de ${Math.ceil(filter.rows.length / rowsPerPage)}`;
}

prevButton.addEventListener("click", () => {
  if (currentRow > 0) {
    currentRow -= rowsPerPage;
    if (currentRow < rowsPerPage) {
      prevButton.disabled = true;
    }
    nextButton.disabled = false;
  }
  updateTable();
  updatePageInfo();
});

nextButton.addEventListener("click", () => {
  currentRow += rowsPerPage;
  if (currentRow + rowsPerPage >= filter.rows.length) {
    nextButton.disabled = true;
  }
  prevButton.disabled = false;
  updateTable();
  updatePageInfo();
});

function updateTable() {
  for (let i = 1; i < filter.rows.length; i++) {
    filter.rows[i].style.display = "none";
    if (i >= currentRow && i < currentRow + rowsPerPage) {
      filter.rows[i].style.display = "";
    }
  }
}

// Add click event listener to each list item (table row)
const tableBody = document.getElementById("myTableBody");
tableBody.addEventListener("click", (event) => {
  if (event.target.tagName === "TR") {
    const rowIndex = event.target.rowIndex - 1; // Subtract 1 to exclude table header
    currentRow = rowIndex - (rowIndex % rowsPerPage);
    updateTable();
    updatePageInfo();
  }
});

updateTable();
updatePageInfo();
    </script>


    
{% endblock %}