/* styles.css */


#app {
    margin-top: 80px;
    margin-left: 200px;
    width: 1000px;
    height: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h1_chat {
    text-align: center;
    margin-top: -60px;
    margin-left: 100px;
}

#residents {
    margin-top: 280px;
    margin-bottom: 20px;
    
}

#resident-list {
    margin-top: 80px;
    width: 200px;
    list-style: none;
    padding: 0;border-right: 2px solid #333;
    
}

#resident-list li {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#resident-list li:hover {
    background-color: #eee;
}

#resident-list li.selected {
    background-color: #007bff;
    color: white;
    border: 1px solid #0056b3;
}

#message-form {
    margin-left: 220px;
    right: 90%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.titulo_moradores{
    margin-left: -800px;
}


#message-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#messages-list {
    max-height: 300px;
    overflow-y: auto;
    margin-left: 230px;
}


.lista-mensagens{
    margin-left: -20px;

}


.message {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.message button {
    padding: 5px 10px;
    background-color: #ff4d4d;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.message button:hover {
    background-color: #d93636;
}



