* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #666;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 20;

}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    margin-left: 20px;
}
/*
nav {
    background-color: #f7f7f7;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 6.5%;
    margin-top: 5%;
    z-index: 20;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -0.5%;
}

nav li {
    display: inline;
    margin: 0 1rem;
}
*/

main {
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
    margin-top: 5%;
}

main h2 {
    margin: 1rem 0;
    font-size: 1.5rem;
}

main section {
    margin: 1rem 0;
}

main section:first-child {
    margin-top: 0;
}

main p {
    margin: 1rem 0;
}

footer {
    position: relative;
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
    text-align: center;

}

@media only screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 1rem 0;
    }

    main section {
        margin: 1rem 0;
    }

    main section:first-child {
        margin-top: 0;
    }

    main p {
        margin: 1rem 0;
    }
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.panel {
    background-color: #f7f7f7;
    padding: 1rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    flex-basis: calc(25% - 1rem);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.panel h2 {
    margin-top: 0;
}

@media (max-width: 600px) {
    .panel {
        flex-basis: calc(50% - 1rem);
    }
}


canvas {
    height: 300px;
    width: 48%;
}

body {
    font-family: Arial, sans-serif;
}

.charts {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.chart {
    width: 48%;
    height: 300px;
}


.chart-container {
    
    width: 45%;
    float: left;
    margin-right: 5%;
    margin-bottom: 40px;
}

.setas {

    max-height: 30px;
    max-width: 30px;
    position:absolute;
    margin-top: -20px;
    margin-right: 6px;
}



.btn_setas {

    background: none;
    border: none;
    margin-right: 20px;
    margin-bottom: 80px;
}

.n_page{

    font-size: 20px;
    position: absolute;
    margin-top: -110px;
    margin-left: 140px;

}

.pagination{

    margin-left: 70%;
    margin-top: -20px;
}
#menu-container{
    margin: 0;
    font-size: 30px;
}

#prev{
    margin-left: -98px;
   /* margin-top: -12px; */
}

#next{
   /* margin-top: -100px; */

}

/* suporte*/


.user-bubble {
    display: inline-block;
    background-color: #3CB371;
    padding: 0.5em 1em;
    border-radius: 1em;
    margin-left: 0.5em;
    max-width: 100%;
    word-wrap: break-word;
    color: #fff;
  }
  
  
  .support-bubble {
    display: inline-block;
    background-color: #333;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    margin-left: 0.5em;
    max-width: 100%;
    word-wrap: break-word;
  }
  
  .user-text,
  .support-text {
    display: inline-block;
    background-color: #333;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    max-width: 100%;
    word-wrap: break-word;
  }
  
  
  .support-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-bottom: 30px;
  cursor: pointer;
  }
  
  
  
  .support-chat {
  display: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: rgba(16, 16, 16, .5);
  border: 1px solid #ccc;
  color: #fff;
  padding: 10px;
  width: 320px;
  height: 420px;
  overflow-y: auto;
  margin-bottom: 40px;
  }
  
  .support-chat h2 {
  margin-top: 0;
  }
  
  .support-input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  }
  
  .send-button {
  background-color: rgba(16, 16, 16, .5);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  }
  
  .send-button:hover {
  background-color: #333;
  }
  
  .support-messages {
  padding: 10px;
  height: 300px;
  position: relative;
  overflow-y:auto;
  
  }
  
  .username {
    font-weight: bold;
    margin-right: 10px;
  
  }
  
  .user-bubble {
    display: inline-block;
    background-color: #333;
    padding: 0.5em 1em;
    border-radius: 1em;
    margin-left: 0.5em;
    max-width: 100%;
    word-wrap: break-word;
    color: #fff;
  
  }
  
  .support-bubble {
    display: inline-block;
    background-color: #333;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    margin-left: 0.5em;
    max-width: 100%;
    word-wrap: break-word;
    color: #fff;
  }
  
  .user-text{
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    max-width: 100%;
    word-wrap: break-word;
  
  }
  .support-text {
    display: inline-block;
    padding: 0.2em 0.5em;
    border-radius: 1em;
    max-width: 100%;
    word-wrap: break-word;
  }
  
  
  
  /* fimn suporte*/

  /* CSS para as imagens e títulos redondos */

.circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 8rem;
}

.circle {
    background-color: #f7f7f7;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.circle-content {
    text-align: center;
}

.circle-content img {
    max-width: 100%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.circle-content h3 {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #333;
}

/* pagina condominio */

.circle-container a {
    width: 200px;
    height: 200px;
    display: block;
    margin-bottom: 10;
}

.a_condominios{
    margin-right: 30px;
    margin-bottom: 30px;
}



h2 a img{

    max-width: 17px;
}

  /*fim pagina condominio*/

  /* campo de pesquisa */
  #search-form {
    position: absolute;
    margin-left: 400px;
    display: inline-block;
    max-width: 80%;
    
  }
  
  #search-input {
    width: 450px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius:16px;
    margin-top: -35px;
    position: fixed;
  }
  
  #search-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 460px;
    width: 110px;
    margin-top: -36px;
  }
  .pesquisa{
    position: fixed;
    margin-top: 150px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 20%;
    padding: 10px;
  }

  #myTable{
    margin-top: 230px;
  }
  
  #search-button:hover {
    background-color: rgba(0, 0, 0, 1);;
  }

  /* fim campo de pesquisa */

  /* login */
  .img_login{
    position: absolute;
    margin-left: 1240px;
    cursor: pointer;
    margin-top: -40px;
    border-radius: 10px;
  
  }


  
.login-form {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(16, 16, 16, .5);
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .login-form form {
    margin: 0;
    padding: 0;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form input[type="submit"] {
    background-color: rgba(0, 0, 0, 1);;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #333;
  }
  
  .inscrever{
    color: #fff;
  }
  
  
  /* fim login */



